---
import MainPage from '../components/MainPage';
import '../styles/tailwind.css';
---

<!doctype html>
<html lang="en">

<head>
	<title>Bootleg Repository of Manual Pages</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta property="og:title" content="Bootleg Repository of Manual Pages">
	<meta property="og:description" content="Repository of Manual Pages for KTANE, but worse in every way.">
	<meta property="og:type" content="website">
	<meta property="og:url" content="http://ktane.stinggy.com">
	<meta property="og:site_name" content="Sting's Personal Stuff">
</head>

<body class="bg-gray-800">
	<MainPage client:load />
</body>
</html>
